<div>
  <%= form_for @shout do |form| %>
    <p>
      <%= form.text_field :body %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>

<ul>
  <% @shouts.each do |shout| %>
    <%= render :partial => "shout", :locals => { :shout => shout } %>
  <% end %>
</ul>
